<div>
  Tickets de Incidencias
</div>
<br>
<div>
  <table class="hours-container">
    <tbody>
      <tr>
        <td *ngFor="let hour of hours">
          <div style="text-align: center;">{{hour.numTickets}}</div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td *ngFor="let hour of hours">
          <div>
            <app-rectangle-chart [value]="hour.numTickets"></app-rectangle-chart>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td *ngFor="let hour of hours">
          <div class="white-letters">{{hour.hour}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
