* {
    height: 100%;
    color: #039fda;
    background-color: #000000;
    margin: 0px;
}

.hours-container tr:nth-child(3) td {
    border-top: 2px solid #039fda;
}

.white-letters {
    color: white;
    text-align: center;
    font-size: 10px;
}