<div>
  Tickets de Incidencias
</div>
<br>
<div>
  <table class="hours-container">
    <tbody>
      <tr>
        <td *ngFor="let ticket of tickets">
          <div style="text-align: center;">{{ticket.counter}}</div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td *ngFor="let ticket of tickets">
          <div>
            <app-rectangle-chart [value]="ticket.counter"></app-rectangle-chart>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td *ngFor="let ticket of tickets">
          <div class="white-letters">{{ticket.hour}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
