.circle {
    fill:transparent;
    stroke:#fe0000;
    stroke-linecap:round;
    transform:rotate(-90deg);
    transform-origin: 50% 91%;
}

@keyframes circleAppears {
    0% {
        stroke-dashoffset: 170;
    }
}

.circle-stroke-move {
    animation: circleAppears 2s;
}