* {
    height: 100%;
    color: #ffffff;
    background-color: #000000;
    margin: 0px;
}
.container {
    width: 70%;
    margin: 0 10% 0 10%;
    margin-top: 0%;
}

.container-map {
    width: 200px;
    height: 100px;
}

.core-connector-red {
    fill:url(#SVGID_RED_);
}

.core-connector-red-inverse {
    fill:url(#SVGID_RED_);
}

.core-connector-blue {
    fill:url(#SVGID_BLUE_);
}

.core-connector-blue_inverse {
    fill:url(#SVGID_BLUE_INVERSE_);
}

.core-connector-text {
    font-family:'Geneva'; 
    font-size:12px;
}

.map-unselected-country {
    fill:#595959;
}

.country-red {
    fill:#fe0000;
}

.connector-blue {
    stroke: #019FDA;
}

.connector-line {
    fill:none;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray: 10;
    stroke-dashoffset: -20;
}

.connector-arrow {
    fill:none;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}

.text-state-alarmed {
    fill:#fe0000;
}

.text-state-normal {
    fill:#FFFFFF; 
}

.state-alarmed {
    stroke:#FF0000;
}

.state-normal {
    stroke:#019FDA;
}

.hand-cursor {
    cursor: pointer;
}

@keyframes intermitent-line {
    0% {
        opacity: 1;
        stroke-width: 5px;
        stroke-dasharray: 10;
        stroke-dashoffset: -40;
    }
    50% {
        opacity: .5;
        stroke-width: 5px;
        stroke-dashoffset: -80;
    }
    100% {
        opacity: 1;
        stroke-width: 5px;
        stroke-dashoffset: -120;
    }
}

@keyframes intermitent-opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

.alarmed-connector-animation {
    animation: intermitent-line 0.6s reverse infinite;
}

.alarm-box-animation {
    animation: intermitent-opacity 1s infinite;
}

.alarm-box {
    fill:none;
    stroke-width:2;
    stroke-miterlimit:10;
}