/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
}

mat-toolbar {
    background: #000000 !important;
}

.custom-modalbox mat-dialog-container{
    padding: 0%;
    background: #000000;
    border: #595959 1px solid;
    max-width: 400px;
 }